.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  padding: 200px 0;
  background-color: $background-accent;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  max-width: 360px;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $text-contrast;

  margin: 0 auto;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}
