.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    font-weight: $font-bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }

  &--no-padding-top {
    padding-top: 0;
  }

  &--background {
    background-color: $background-team;
  }
}
